<div>
    <h2 id="page-heading">
        <span>Information</span>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <input type="radio" name="choice" value="G" (change)="setChannel($event);"checked> Général<br>
        <input type="radio" name="choice" value="L3" (change)="setChannel($event);"> L3<br>
        <input type="radio" name="choice" value="M1" (change)="setChannel($event);"> M1<br>
        <input type="radio" name="choice" value="M2" (change)="setChannel($event);"> M2<br>
    </div>
    <div *jhiHasAnyAuthority="'ROLE_L3'">
        <input type="radio" name="choice" value="G" (change)="setChannel($event);"> Général<br>
        <input type="radio" name="choice" value="L3" (change)="setChannel($event);" checked> L3<br>
    </div>
    <div *jhiHasAnyAuthority="'ROLE_M1'">
        <input type="radio" name="choice" value="G" (change)="setChannel($event);"> Général<br>
        <input type="radio" name="choice" value="M1" (change)="setChannel($event);" checked> M1<br>
    </div>
    <div *jhiHasAnyAuthority="'ROLE_M2'">
        <input type="radio" name="choice" value="G" (change)="setChannel($event);"> Général<br>
        <input type="radio" name="choice" value="M2" (change)="setChannel($event);" checked> M2<br>
    </div>
    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-information" [routerLink]="['/information/new', this.channel]">
        <fa-icon [icon]="'plus'"></fa-icon>
        <span >
                        Ajouter
        </span>
    </button>
    <div class="alert alert-warning" *ngIf="information?.length === 0">
        <span>Aucune information trouvée</span>
    </div>
    <div class="table-responsive tableFixHead" *ngIf="information?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" class="enteteTableau"><span>Titre</span></th>
            <th scope="col" class="enteteTableau"><span>Description</span></th>
            <th scope="col" class="enteteTableau">
            </th>
            </tr>
            </thead>
            <tbody>
            <tr class="mat-row"  *ngFor="let information of information ;trackBy: trackId">
                <td>{{information.titre}}</td>
                <td>{{information.description}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/information', information.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Détails</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/information', information.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Modifier</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(information)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Supprimer</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
<style>
  .mat-row:nth-child(even){
    background-color:#D8D8D8;
  }

  .mat-row:nth-child(odd){
    background-color:white;
  }
  .enteteTableau{
    vertical-align:middle;
  }
  .tableFixHead { overflow-y: auto; height: 500px; }
  .tableFixHead thead th { position: sticky; top: 0; }

table  { border-collapse: collapse; width: 100%;}
th, td { padding: 8px 16px; }
th     { background:#eee; z-index: 2;}
td { z-index: 1;}
</style>
