<div class="nb-theme-default">
    <div>
        <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <input type="radio" name="choice" value="G" (change)="setChannel($event);"checked> Général<br>
            <input type="radio" name="choice" value="L3" (change)="setChannel($event);"> L3<br>
            <input type="radio" name="choice" value="M1" (change)="setChannel($event);"> M1<br>
            <input type="radio" name="choice" value="M2" (change)="setChannel($event);"> M2<br>
        </div>
        <div *jhiHasAnyAuthority="'ROLE_L3'">
            <input type="radio" name="choice" value="G" (change)="setChannel($event);" checked> Général<br>
            <input type="radio" name="choice" value="L3" (change)="setChannel($event);"> L3<br>
        </div>
        <div *jhiHasAnyAuthority="'ROLE_M1'">
            <input type="radio" name="choice" value="G" (change)="setChannel($event);" checked> Général<br>
            <input type="radio" name="choice" value="M1" (change)="setChannel($event);"> M1<br>
        </div>
        <div *jhiHasAnyAuthority="'ROLE_M2'">
            <input type="radio" name="choice" value="G" (change)="setChannel($event);" checked> Général<br>
            <input type="radio" name="choice" value="M2" (change)="setChannel($event);"> M2<br>
        </div>
    </div>
    <nb-chat  title="Livechat - Projet FIA" style="height:100%">
        <nb-chat-message id='chat-view'
                         *ngFor="let msg of messages"
                         [message]="msg.text"
                         [sender]="msg.user"
                         [date]="msg.date"
                         [reply]="msg.reply">
        </nb-chat-message>
        <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
        </nb-chat-form>
    </nb-chat>
</div>
<style>
    radio {

    }
</style>
