<div class="row">
    <div [ngSwitch]="isAuthenticated()">
        <div *ngSwitchCase="true">
            <h1 class="display-4">Bienvenue sur le Projet FIA, {{account.login}}!</h1>
        </div>
    </div>
    <div [ngSwitch]="isAuthenticated()">
        <div *ngSwitchCase="false">
            <p class="lead">Vous pouvez vous <a class="alert-link" (click)="login()">connecter ici</a>.</p>
        </div>
    </div>
</div>
<div class="row">
    {{ donneLeMenuDuJour() }}
    <div class="col-md-2">
        <div id="menuTradi"></div>
    </div>
    <div class="col-md-2">
        <div id="menuFrite"></div>
    </div>
    <div class="col-md-2">
        <div id="menuPoisson"></div>
    </div>
    <div class="col-md-2">
        <div id="menuTouriste"></div>
    </div>
    <div class="col-md-2">
        <div id="menuAdministratif"></div>
    </div>
    <div class="col-md-2">
        <div id="menuSoir"></div>
    </div>
</div>



