<div>
    <h2 id="page-heading">
        <span>Drives</span>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="drives?.length === 0">
        <span>No drives found</span>
    </div>
    <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <iframe src="https://drive.google.com/embeddedfolderview?id=16NY44_FHwg9IWxonbeVKVTgvX-wU3nJd#grid" width="600"
                height="500" frameborder="0"></iframe>
    </div>
    <div *jhiHasAnyAuthority="'ROLE_M2'">
        <iframe src="https://drive.google.com/embeddedfolderview?id=16rXd2RePECfrAA7H8U2YyPHj911t5Obn#grid" width="600"
                height="500" frameborder="0"></iframe>
    </div>
    <div *jhiHasAnyAuthority="'ROLE_M1'">
        <iframe src="https://drive.google.com/embeddedfolderview?id=10fHbV8sIOeSI7PD7_DmgwgooRPvECewA#grid" width="600"
                height="500" frameborder="0"></iframe>
    </div>
    <div *jhiHasAnyAuthority="'ROLE_L3'">
        <iframe src="https://drive.google.com/embeddedfolderview?id=13BovpYwztmQWQDlVU04o-Zl51GngiIor#grid" width="600"
                height="500" frameborder="0"></iframe>
    </div>
    <h1>Ajouter un nouveau fichier</h1>
    <div class="form-group">
        <label for="file">Choisir un fichier</label>
        <input type="file" id="file" (change)="sendFile($event.target.files)"/>
        <button class="input-btn" (click)="sendFileByService()">Upload</button>
    </div>
    <!-- TODO barre de progression -->
    <div class="progress form-group" *ngIf="progress > 0">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
        </div>
    </div>
    <!------------------------------->
    <div class="table-responsive" *ngIf="drives?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let drive of drives ;trackBy: trackId">
                <td><a [routerLink]="['/drive', drive.id, 'view' ]">{{drive.id}}</a></td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/drive', drive.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
