<div style="height:550px">
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div *jhiHasAnyAuthority="'ROLE_M2'">
        <div *jhiHasAnyAuthority="'ROLE_FI'" class="responsiveCal">
            <iframe src="https://calendar.google.com/calendar/b/2/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FParis&amp;mode=WEEK&amp;showPrint=0&amp;showDate=0&amp;showNav=1&amp;showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;src=ZGF0amluNXB0NnYwYThpN2dxNG5lODBndmFkOGxmY3ZAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=NzA2NzRkcmRiOGhvNGo2NzBmOWlwYzk0dGxxcjkzajdAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%2350e5d8&amp;color=%23515151" width="800" height="600" frameborder="0" scrolling="yes"></iframe>
        </div>
    </div>

    <div *jhiHasAnyAuthority="'ROLE_M2'">
        <div *jhiHasAnyAuthority="'ROLE_ALT'" class="responsiveCal">
            <iframe src="https://calendar.google.com/calendar/b/2/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FParis&amp;mode=WEEK&amp;showPrint=0&amp;showDate=0&amp;showNav=1&amp;showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;src=cm91NW9zMmZvN291YTIzcXJyZmJkdGdtMHFyc21pNDlAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=NzA2NzRkcmRiOGhvNGo2NzBmOWlwYzk0dGxxcjkzajdAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%2350e5d8&amp;color=%23515151" width="800" height="600" frameborder="0" scrolling="yes">
            </iframe>
        </div>
    </div>

    <div *jhiHasAnyAuthority="'ROLE_M1'">
        <div *jhiHasAnyAuthority="'ROLE_FI'" class="responsiveCal">
            <iframe src="https://calendar.google.com/calendar/b/2/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FParis&amp;mode=WEEK&amp;showPrint=0&amp;showDate=0&amp;showNav=1&amp;showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;src=M2RlNXA1a2c5NDNnZ3R2am9pczlhczh2bjYzNnYzNWdAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=cmJ1ZXIwZW10NDhlZGwxNWoyanIzazFidTBtdTRnaDNAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%2350e5d8&amp;color=%23515151" width="800" height="600" frameborder="0" scrolling="yes">
            </iframe>
        </div>

    </div>
    <div *jhiHasAnyAuthority="'ROLE_M1'">
        <div *jhiHasAnyAuthority="'ROLE_ALT'" class="responsiveCal">
            <iframe src="https://calendar.google.com/calendar/b/2/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FParis&amp;mode=WEEK&amp;showPrint=0&amp;showDate=0&amp;showNav=1&amp;showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;src=M2RlNXA1a2c5NDNnZ3R2am9pczlhczh2bjYzNnYzNWdAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=c3E5MGNlaWo2cmVmZmZkY2tjMXFnc2Zyb3ZwODg4OTZAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%2350e5d8&amp;color=%23515151" width="800" height="600" frameborder="0" scrolling="yes">
            </iframe>
        </div>
    </div>

    <div *jhiHasAnyAuthority="'ROLE_L3'" class="responsiveCal">
        <iframe src="https://calendar.google.com/calendar/b/2/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FParis&amp;mode=WEEK&amp;showPrint=0&amp;showDate=0&amp;showNav=1&amp;showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;src=NTltaWxsYzV0aTBuMmFyY3IzYnJsaTFzazlhcnA2N3JAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=NTcwZDQwZGdhNTBsMDVqZjd0NTg4NTUwZjQ2ZHMydDNAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%2350e5d8&amp;color=%23515151" width="800" height="600" frameborder="0" scrolling="yes">
        </iframe>
    </div>
</div>
